# Default ignored files #
/shelf/
/.idea/workspace.xml

# Maven wrapper jar #
/target/
!.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/*.java

# IDE configs #
/.idea
/.settings
/.vscode
*.iws
*.iml
*.ipr